%li#navbarNotifications.nav-item.dropdown.notifications.d-flex.align-self-center.align-items-center
  %a.nav-link.dropdown-toggle.notifications--active{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
    %i.material-icons.align-middle notifications
  #notificationsDropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "notificationsDropdown"}
    %ul#notifications-ul.nav.nav-tabs-notifications.d-flex.px-0{:role => "tablist"}
      %li.nav-item
        %a#notifications-tab.nav-link.active{"aria-controls" => "notifications", "aria-selected" => "true", "data-toggle" => "tab", :href => "#notifications", :role => "tab"} Notifications
      -# %li.nav-item
      -#   %a#alerts-tab.nav-link{"aria-controls" => "alerts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#alerts", :role => "tab"} Alerts
    #notifications-tabs.tab-content
      #notifications.tab-pane.fade.show.active{"aria-labelledby" => "notifications-tab", :role => "tabpanel"}
        %ul.list-group.list-group-flush
          %li.list-group-item
            .w-100
              %a{:href => "#"} john
              received a new quote
            .w-100.text-muted 4 secs ago
          %li.list-group-item.text-right
            %a{:href => "#"}
              %span.align-middle View All
              %i.material-icons.md-18.align-middle arrow_forward
      #alerts.tab-pane.fade{"aria-labelledby" => "alerts-tab", :role => "tabpanel"}
        %ul.list-group.list-group-flush
          %li.list-group-item
            .media.align-items-center
              %i.material-icons.align-middle.mr-2.text-warning
                info_outline
              .media-body
                .w-100
                  %a{:href => "profile.html"} john
                  received a new
                  %a{:href => "#"} quote
                .w-100.text-muted 4 secs ago
          %li.list-group-item.text-right
            %a{:href => "#"}
              %span.align-middle View All
              %i.material-icons.md-18.align-middle arrow_forward
