.ui.vertical.borderless.fluid.text.menu
  %a.active.item Overview
  .ui.hidden.divider
  %a.item Nav item
-#%nav.drawer.drawer--dark
-#  .drawer-spacer
-#    .media.align-items-center
-#      %a.drawer-brand-circle.mr-2{ :href => root_path } QM
-#      .media-body
-#        %a.h5.m-0.text-link{:href => "index.html"} Questions Manager
-#  / HEADING
-#  .py-2.drawer-heading
-#    Pages
-#  / MENU
-#  %ul#mainMenu.drawer-menu{"data-children" => ".drawer-submenu"}
-#    %li.drawer-menu-item
-#      %a{:href => "/"}
-#        %i.material-icons menu
-#        %span.drawer-menu-text Questions
-#    %li.drawer-menu-item
-#      %a{:href => "/collections"}
-#        %i.material-icons collections
-#        %span.drawer-menu-text Collections
-#    %li.drawer-menu-item
-#      %a{:href => "/import"}
-#        %i.material-icons open_in_browser
-#        %span.drawer-menu-text Import
-#    %li.drawer-menu-item
-#      %a{:href => "/transformations"}
-#        %i.material-icons settings
-#        %span.drawer-menu-text Transformations
-#    %li.drawer-menu-item
-#      %a{:href => "/jobs"}
-#        %i.material-icons work_outline
-#        %span.drawer-menu-text Jobs
-#    %li.drawer-menu-item
-#      %a{:href => "/examples"}
-#        %i.material-icons extension
-#        %span.drawer-menu-text Examples
